  body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
        transparent,
        rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
    font-family: 'Inter var', system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-variant: common-ligatures contextual;
    letter-spacing: 0.01em;
  }

  strong,
  h3,
  h4,
  h5,
  h6 {
    font-variation-settings: 'wght' 650;
  }

  h1 {
    font-variation-settings: 'wght' 850;
  }

  h2 {
    font-variation-settings: 'wght' 750;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav {
    padding: 20px;
    color: white;
  }

  .nav a::before {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .nav:visited {
    text-decoration: transparent;
  }

  .nav:hover {
    color: #444;
  }

  @media (max-width: 750px) {
    .text-align-center {
      text-align: left;
      padding-inline: 50px;
      color: white;
    }
  }

  .text-align-center {
    text-align: left;
    color: white;
  }

  .text-align-center {
    @media (min-width: 768px) {
      text-align: justify;
      padding-inline: 425px;
      color: white;
    }
  }

  .social-links {
    text-align: center;
  }

  .social-links a {
    display: block;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .social-icon {
    margin-right: 6px;
  }

  .social-links a:hover {
    color: #444;
  }

  .centerAlign {
    display: grid;
    justify-items: left;
  }

  .centerAlignImage {
    display: grid;
    justify-items: center;
  }

  .blogtext {
    text-decoration: none;
    transition: color 0.3s ease;
    color: white;
    display: block;
  }

  .blogtext:hover {
    color: #444;
  }

  .hr-line {
    width: 662px;
    height: 1px;
    background-color: #444;
  }